html {
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

body {
    background-color: black;
}

header {
    text-align: center;
}

header h1 {
    color: white;
    font-weight: normal;
    font-size: 3.125rem;
}

.download {
    font-size: 1rem;
    color: aquamarine;
}

.container {
    display: block;
    padding: 0 auto;
    text-align: center;
}

.container h1 {
    color: white;
    font-weight: 300;
    font-size: 2.625rem;
}

h4 {
    font-size: 1.3125rem;
    color: gray;
}

footer {
    text-align: right;
    color: gray;
    font-size: 1.3125rem;
}